@model InfoInfo2025.Models.Opinion

@{
    ViewData["Title"] = "Edycja opinii";
}

<h1 class="text-primary">Edycja opinii</h1>
<hr />

<div class="row interspace">
    <div class="col-md-10">
        <form asp-action="Edit">
            <input asp-for="UserId" type="hidden" />
            <input asp-for="TextId" type="hidden" />
            <input asp-for="AddedDate" type="hidden" />
            <input asp-for="Rating" type="hidden" />
            <div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="OpinionId" type="hidden" />

            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <textarea asp-for="Comment" class="form-control"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz zmiany" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-light"></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
