@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potwierdzenie otrzymania maila rejestracyjnego";
}

<h1 class="oswald text-primary">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
