@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Zmiana hasła";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row my-5">

    <div class="rounded bg-light shadow text-center p-3 col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <img src="~/graphic/ikona.png" alt="logo portalu" class="mb-2" />
        <hr />
        <partial name="_StatusMessage" for="StatusMessage" />
        <section>
            <form id="change-password-form" method="post">
                <h2 class="oswald text-primary">@ViewData["Title"]</h2>
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="input-group mt-3">
                    <span class="input-group-text login_icon"><i class="bi-shield-slash-fill"></i></span>
                    <div class="form-floating">
                        <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Stare hasło" />
                        <label asp-for="Input.OldPassword" class="form-label"></label>
                    </div>
                </div>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>

                <div class="input-group mt-3">
                    <span class="input-group-text login_icon"><i class="bi-shield-lock-fill"></i></span>
                    <div class="form-floating">
                        <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Nowe hasło" />
                        <label asp-for="Input.NewPassword" class="form-label"></label>
                    </div>
                </div>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                
                <div class="input-group mt-3">
                    <span class="input-group-text login_icon"><i class="bi-key-fill"></i></span>
                    <div class="form-floating">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Ponownie nowe hasło" />
                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    </div>
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                <button id="login-submit" type="submit" class="w-100 my-3 btn btn-lg btn-primary">Zmień hasło</button>
            </form>
        </section>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
